.header-container {
  background: url("./Header-image.jpg");
  background-color: rgba(0, 0, 0, 0.8);
  background-blend-mode: color;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;

  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #ffffff;
  padding: 0 1rem;
}

.header-container h1 {
  font-size: 3.5rem;
}

.header-container p {
  font-size: 1.2rem;
}
